PORT = 3000
MONGO_URI = mongodb+srv://id_card_verify:Manuniteed4@cluster0.5zi3i.azure.mongodb.net/Storybooks?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 752296973925-cjn440c6issq5pc1d6i2s5ctac5opigt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = VlQteUN7mI-91CYQa-BW4qQQ